// $background-color:#FFFFEB;
$background-color: #FEF8EB;
$nav-bar-background-color: #FECF71;
$nav-bar-highlight-color: #F5D547;
$common-font: monospace;
$error-red: #DB3A34;
$surplus-green: #188B6C;
$overall-stats-color: #396A64; 
$selected-tab-color: #396A64; 


html, body {
  font-family: $common-font;
}

.log-finances-page {
  width: 100vw;
  min-height: 100vh;
  background-color: $background-color;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .overall-status-this-month-div {
    background-color: $overall-stats-color;
    margin-left: 20px;
    margin-top: 30px;
    padding: 20px;
    width: 295px;
    border-radius: 15px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
    @media (max-width: 768px) {
      margin-left: 0px;
    }

    p {
      margin: 10px;
      color: $background-color;
    }

    .overall-surplus-p {
      font-size: 30px;
    }
  
    .overall-deficit-p {
      font-size: 30px;
    }
  }

  .log-finances-page-add-budget-div {
    margin-top: 20px;
    margin-left: 20px;
  }

  .budget-list-div {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
      margin-left: 0px;
    }
  }
}

.running-tabs-page {
  width: 100vw;
  min-height: 100vh;
  background-color: $background-color;

  .running-tabs-page-add-tab-div {
    margin-top: 20px;
    margin-left: 20px;
  }  

  .tab-list-div {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
  }
}

.projections-page {
  width: 100vw;
  min-height: 100vh;
  background-color: $background-color;
}