$common-font: monospace;
$nav-bar-background-color: #1B1725;
$nav-bar-highlight-color: #F5D547;
$on-hover-background-color: #E65F5C;
$expense-item-background: #E5BE9E;



html, body, button {
  font-family: $common-font;
}



button {
  background-color: $nav-bar-background-color;
  color: $nav-bar-highlight-color;
  border-color: $nav-bar-background-color;

  &:hover {
    background-color: $on-hover-background-color; 
    color: $nav-bar-background-color;
    border-color: $on-hover-background-color;
  }
}



.nav-bar {
  width: 100%;
  height: 100px;
  position: sticky; 
  top: 0;
  left: 0;
  z-index: 1000; 
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  font-family: $common-font;
  background-color: $nav-bar-background-color;

  .nav-logo {
    background-image: url("../assets/nav-bar-app-logo.svg");
    width: 40vw;
    background-size: contain;
  }

  .nav-tab-selected {
    background-color: $nav-bar-highlight-color;
    border-style: hidden;
    width: 20vw;

    p {
      padding-left: 1.2vw;
      font-size: 25px;

      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }

  .nav-tab-unselected {
    background-color: $nav-bar-background-color;
    border-style: solid;
    border-color: $nav-bar-highlight-color;
    width: 20vw;
    color: $nav-bar-highlight-color;

    p {
      padding-left: 1.2vw;
      font-size: 25px;

      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
}



.record-user-input-div {
  height: 60px;
  
  input {
    height: 24px;
    width: 175px;
  }

  p {
    margin-top: 0px;
    font-size: 12px;
  }
  
  button {
    height: 30px;
    background-color: $nav-bar-background-color;
    color: $nav-bar-highlight-color;
    border-color: $nav-bar-background-color;

    &:hover {
      background-color: $on-hover-background-color; 
      color: $nav-bar-background-color;
      border-color: $on-hover-background-color;
    }
  }
}



.record-user-input-add-expense-div {
  height: 125px;
  
  input {
    height: 24px;
    width: 250px;
  }

  p {
    margin-top: 0px;
    font-size: 14px;
  }
  
  button {
    height: 30px;
    background-color: $nav-bar-background-color;
    color: $nav-bar-highlight-color;
    border-color: $nav-bar-background-color;

    &:hover {
      background-color: $on-hover-background-color; 
      color: $nav-bar-background-color;
      border-color: $on-hover-background-color;
    }
  }
}



.budget-card {
  border-style: solid;
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 30px;
  padding-left: 15px;
  width: 320px;
  height: fit-content;
  background-color: $nav-bar-highlight-color;

  button {
    height: 30px;
  }

  .record-user-input-div {
    height: 50px;
    input {
      height: 24px;
      width: 100px;
    }
  }

  .budget-card-edit {
    border-style: dashed;
    width: fit-content;
    margin-bottom: 20px;
  }

  .budget-card-edit-button {
    margin-bottom: 15px;
  }
}



.expense-card {
  border-style: solid;
  background-color: $expense-item-background;
  font-size: 14px;
  margin-left: -16px;

  .expense-record {
    display: flex;

    .expense-card-description {
      width: 156.5px;
      height: fit-content;
    }
  
    .expense-card-amount {
      width: 90px;
      overflow-x: scroll;
    }
  
    .expense-card-datetime {
      padding-left: 25px;
      width: 110px;
    }
  }

  .edit {
    background-image: url("../assets/edit.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 25px; 
  } 

  .expense-card-edit {
    border-style: dashed;
  }
}