$common-font: monospace;
$nav-bar-background-color: #FEEBC2;
$nav-bar-highlight-color: #F5D547;
$on-hover-background-color: #E65F5C;
// $expense-item-background: #E5BE9E;
$expense-item-background: #C1D4B0;
$background-color:#E8EEE7;
$selected-tab-color: #396A64; 
$unselected-tab-color: #CE8D9D;
$budget-surplus-color: #38A86C;
$budget-deficit-color: #DD4040;
$budget-background-color: #F5D547;


html, body, button {
  font-family: $common-font;
}



button {
  background-color: $selected-tab-color;
  color: $nav-bar-highlight-color;
  border-color: $selected-tab-color;
  border-radius: 7.5px;

  &:hover {
    background-color: $on-hover-background-color; 
    color: $nav-bar-background-color;
    border-color: $on-hover-background-color;
  }
}



.nav-bar {
  width: 100%;
  height: 100px;
  position: sticky; 
  top: 0;
  left: 0;
  z-index: 1000; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: $common-font;
  background-color: $nav-bar-background-color;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  .nav-logo {
    // background-image: url("../assets/nav-bar-app-logo-3.svg");
    // background-repeat: no-repeat;
    width: 30vw;
    background-size: contain;
    color: $selected-tab-color;
    font-size: 20px;
    margin-left: 20px;
    @media (max-width: 768px) {
      width: 100px;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }

  .nav-bar-selection {
    width: 450px;
    height: 50px;
    display: flex;
    border-radius: 30px;
    background-color: $nav-bar-highlight-color;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
    overflow-y: hidden;
    margin-right: 20px;
    @media (max-width: 768px) {
      width: 225px;
    }

    .nav-tab-selected {
      // background-color: $nav-bar-background-color;
      border-style: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
  
      img {
        text-align: center;
        width: 150px;
        height: 50px;
        background-color: $selected-tab-color;
        object-fit: contain;
        @media (max-width: 768px) {
          width: 75px;
        }
      }
    }
  
    .nav-tab-unselected {
      background-color: $nav-bar-background-color;
      border-style: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        text-align: center;
        width: 150px;
        height: 50px;
        background-color: $nav-bar-highlight-color;
        object-fit: contain;
        @media (max-width: 768px) {
          width: 75px;
        }
      }
    }
  }
}



.record-user-input-div {
  height: 70px;
  
  input {
    height: 24px;
    width: 175px;
  }

  p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
  }
  
  button {
    height: 30px;
    background-color: $selected-tab-color;
    color: $nav-bar-highlight-color;
    border-color: $selected-tab-color;

    &:hover {
      background-color: $on-hover-background-color; 
      color: $nav-bar-background-color;
      border-color: $on-hover-background-color;
    }
  }
}



.record-user-input-add-expense-div {
  height: 115px;
  
  input {
    height: 24px;
    width: 250px;
  }

  p {
    margin-top: 0px;
    font-size: 14px;
  }
  
  button {
    height: 30px;
    margin: 0px;
    // background-color: $nav-bar-background-color;
    // color: $nav-bar-highlight-color;
    // border-color: $nav-bar-background-color;

    &:hover {
      background-color: $on-hover-background-color; 
      color: $nav-bar-background-color;
      border-color: $on-hover-background-color;
    }
  }
}



.record-user-input-add-projection-div {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  width: 250px;

  input {
    height: 24px;
    width: 250px;
  }

  button {
    height: 30px;
    margin: 0px;
    width: 150px;

    &:hover {
      background-color: $on-hover-background-color; 
      color: $nav-bar-background-color;
      border-color: $on-hover-background-color;
    }
  }
}



.budget-card {
  margin-left: 0px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-left: 15px;
  width: 320px;
  height: fit-content;
  background-color: $budget-background-color;
  border-radius: 15px;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
  @media (max-width: 768px) {
    margin-right: 0px;
  }
  
  p {
    width: 290px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  button {
    height: 30px;
  }

  .budget-card-header-surplus {
    margin: 0px;
    width: 250px;
    font-size: 50px;
    color: $budget-surplus-color;
  }

  .budget-card-header-deficit {
    margin: 0px;
    font-size: 50px;
    color: $budget-deficit-color
  }

  .record-user-input-div {
    height: 50px;
    input {
      height: 24px;
      width: 100px;
    }
  }

  .budget-card-edit {
    width: fit-content;
    margin-bottom: 20px;
  }

  .budget-card-edit-button {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 250px;
    height: fit-content;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
  }

  .hide-expense-div {
    height: 15px;
  }

  .show-expense-div {
    margin-top: 15px;
  }
}



.expense-card {
  background-color: $nav-bar-background-color;
  font-size: 14px;
  margin-left: -15px;
  color: black;

  .expense-record {
    display: flex;

    .expense-card-description {
      width: 156.5px;
      height: fit-content;
    }
  
    .expense-card-amount {
      width: 90px;
      overflow-x: hidden;
    }
  
    .expense-card-datetime {
      padding-left: 25px;
      width: 110px;
    }
  }

  button {
    margin: 0px;
  }

  .edit {
    background-image: url("../assets/edit.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 25px; 
  } 
}



.tab-card {
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 30px;
  padding-left: 15px;
  width: 320px;
  height: fit-content;
  background-color: $nav-bar-highlight-color;
  border-radius: 15px;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    margin: 0px;
    margin-bottom: 35px;
  }

  select {
    width: 110px
  }

  .tab-card-edit-button {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 250px;
    height: fit-content;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
  }

  .tab-person-header {
    margin: 0px;
    margin-bottom: 10px;
  }

  .tab-person-info {
    display: flex;

    p {
      width: 102.5px;
      height: 10px;
      margin: 5px
    }

    .owes-p {
      color: $budget-deficit-color;
      width: 150px;
    }

    .owed-p {
      color: $budget-surplus-color;
      width: 150px;
    }

    button {
      height: 20px;
    }
  }

  .delete-tab-button {
    margin-bottom: 20px;
  }

  .gap {
    height: 15px;
  }
}



.tab-record-card {
  height: fit-content;
  background-color: $expense-item-background;
  width: 335px;
  margin-left: -15px;

  .tab-record-card-always-show {
    display: flex;
    .tab-record-card-person-who-owes-col {
      width: 110px;
    }
  
    .tab-record-card-arrow-col {
      width: 20px;
    }
  
    .tab-record-card-person-who-is-owed-col {
      width: 110px;
    }
  
    .tab-record-card-amount-owed-col {
      width: 100px;
      text-align: right;
      padding-right: 5px;
    }
  }
  

  .tab-record-card-edit-tab-record-details {
    width: 320px;
    height: fit-content;
  }

  .edit {
    background-image: url("../assets/edit.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 25px; 
  }
}



.projection-card-display {
  background-color: $budget-background-color;
  font-size: 14px;
  width: 300px;
  color: black;
  padding: 15px;
  border-radius: 15px;
  margin-left: 20px;
  margin-top: 20px;

  @media (max-width: 768px) {
    margin-left: 0px;
    margin-top: 20px;
  }

  .projection-header {
    width: 250px;
    height: 50px;
    font-size: 20px;
    border-radius: 15px;
    margin-bottom: 15px;
      
  }

  .projection-record {
    display: flex;

    .projection-card-description {
      width: 156.5px;
      height: fit-content;
    }
  
    .projection-card-amount {
      width: 90px;
      overflow-x: hidden;
    }
  
    .projection-card-datetime {
      padding-left: 25px;
      width: 110px;
    }
  }

  button {
    margin: 0px;
  }

  .edit {
    background-image: url("../assets/edit.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 25px; 
  } 
}